.git
.gitignore
.cursor
frontend
docs
**/.env
**/.env.*
!**/.env.example
backend/vendor
backend/node_modules
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/testing/*
backend/bootstrap/cache/*.php
backend/database/*.sqlite
backend/database/*.sqlite-journal
backend/.phpunit.result.cache
backend/.phpunit.cache
backend/tests
backend/phpunit.xml
backend/README.md
README.md
