.git
.gitignore
.env
.env.*
**/node_modules
frontend
docs
*.md
backend/vendor
backend/node_modules
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/testing/*
backend/bootstrap/cache/*.php
backend/database/*.sqlite
backend/database/*.sqlite-journal
backend/tests
backend/phpunit.xml
backend/.phpunit.result.cache
backend/.phpunit.cache
