.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
database/*.sqlite
database/*.sqlite-journal
.phpunit.result.cache
.phpunit.cache
tests
phpunit.xml
README.md
